@model int
@{
    ViewBag.Title = "Оформление заказа завершено";
}
<h2>Оформление заказа завершено</h2>
<p>Спасибо за ваш заказ! Номер вашего заказа : @Model</p>
<p>
    Может купите что-то ещё?
    @Html.ActionLink("store","Index", "Home")
</p>

