@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокирован";
}

<hgroup>
    <h1 class="text-error">Заблокирован.</h1>
    <h2 class="text-error">Этот аккаунт заблокирован, пожалуйста, попробуйте позднее.</h2>
</hgroup>
