@{
    ViewBag.Title = "Смена пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Проверьте вашу почту, чтобы восстановить пароль.
    </p>
    <p class="text-danger">
        В разработке: Вы можете нажать на эту ссылку, чтобы сбросить пароль: <a href="@ViewBag.Link">Клик</a>
        
    </p>
</div>

