@{
    ViewBag.Title = "Сброс пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль сброшен. Пожалуйста @Html.ActionLink("Нажмите, чтобы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
