@{
    ViewBag.Title = "Контакты";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
   <h3>Свяжитесь с нами</h3>
</hgroup>
<div>
    <address>
        MkioN Game Store<br />
        Россия, Киров<br />
        <abbr title="Телефон">+79229458728</abbr>
        
    </address>

    <address>
        <i class="icon-envelope"></i><strong>По вопросам и предложения:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="icon-envelope"></i><strong>По вопросам маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>