@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>MkioN Game Store</h1>
    <p class="lead">Лучший магазин компьютерных игр</p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "Items")'">Перейти в каталог&raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>



</div>